<div class="row">
    <div class="col-md-3">
        <mat-toolbar class="mat-elevation-z8" style="background-color: #3F51B5;color:white;">Kategoriler</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/kategori',kat.KategoriId]" *ngFor="let kat of kategoriler">
            {{kat.KategoriAdi}}
        </a>
    
    
        </mat-nav-list>
    </div>

    <div id="MainFeed" class="col-md-6 gry-brdr">
        <div style="color: black;" *ngFor="let makale of makaleler">
            <h1>{{makale.Baslik}}</h1>
            <p>
                <b>Kategori : </b><a href="#" [routerLink]="['/kategori',makale.KategoriId]"> {{makale.KategoriAdi}}</a>
                &nbsp;&nbsp;
                <b>Tarih : </b> {{makale.Tarih}}&nbsp;&nbsp;
                <a href="#" [routerLink]="['/makale',makale.MakaleId]">Soruyu İncele</a>
    
            </p>
            <hr>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 gry-brdr" style="background-color: white; border-radius: 3px;"  >
            <button class="btn btn-primary" style="width: 100%;" (click)="Ekle()">Soru Sor</button>
        </div>
        <div class="mt-2 p-3 gry-brdr" style="background-color: white;">
            <table style="width: 100%;" >
                <!--
                <tbody>
                    <tr>
                        <td style="text-align: center;">{{durum.soru}} Soru</td>
                        <td style="text-align: center;">{{durum.cevap}} Cevap</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="text-align: center;">{{durum.kullanici}} Kullanıcı</td>
                        <td style="text-align: center;">{{durum.kategori}} Kategori</td>
                    </tr>
                    
                </tbody>
                -->
            </table>
        </div>
    </div>
</div>





<!--

<div class="container">
    
</div>
-->